<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- Global Security Settings -->
    <global-method-security pre-post-annotations="enabled" />
 
    <!-- Form and Security Access Configuration -->
    <http use-expressions="true" disable-url-rewriting="true">
     	
        <!-- disable csrf protection -->
     	<csrf disabled="true"/>

     	<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		
        <form-login 
        	login-page="/login" 
        	login-processing-url="/login.do" 
        	default-target-url="/" 
        	always-use-default-target="true" 
        	authentication-failure-url="/login?err=1" 
        	username-parameter="username" 
        	password-parameter="password" />
 
        <logout 
        	logout-url="/logout" 
        	logout-success-url="/login?out=1" 
        	delete-cookies="JSESSIONID" 
        	invalidate-session="true" />
 
        <intercept-url pattern="/login*" access="permitAll()" />
        <intercept-url pattern="/resources/**" access="permitAll()" />
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        
    </http>

	<!-- Authentication Providers for Form Login -->
	<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service 
			data-source-ref="dataSource"
		  	users-by-username-query = "select CUENTA, CONTRASENA, 'true' enabled from USUARIO where CUENTA = ?"
		  	authorities-by-username-query = "select CUENTA, 'ROLE_USER' role from USUARIO where CUENTA = ?  " />
		 <password-encoder hash="sha" />
	  </authentication-provider>
	</authentication-manager>
</beans:beans>

